@charset "UTF-8";
/*---------------- MEDIA QUERY --------------*/
/*$breakpoint: (
    sx: 410px,
    sm: 578px,
    md: 768px,
    lg: 1130px,
);*/
.links__home {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  font-size: 13px;
  color: #F0F8FF;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 4rem;
  margin-bottom: 2rem;
  text-align: center;
  align-items: center;
}

.material-symbols-outlined, .third__part__home section h3 .material-symbols-outlined, .second__part__home section p .material-symbols-outlined {
  font-size: 3rem;
  color: #F0F8FF;
  margin-top: 2rem;
}

.third__part__planta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 250vh;
  font-family: "Jost", sans-serif;
  background-size: cover;
  color: #F0F8FF;
  display: flex;
  flex-direction: column;
}

.second__part__home section {
  width: 50rem;
  height: 25rem;
}

.third__part__home section {
  width: 40rem;
  height: 28rem;
}

.quarter__part__home section {
  width: 35rem;
  height: 23rem;
}

.fifth__part__home section {
  width: 42rem;
  height: 38rem;
}

.second__part__biomasa1 {
  width: 18rem;
  height: 30rem;
}

.second__part__biomasa2 {
  width: 22rem;
  height: 33rem;
}

/*@mixin media-up ($breakpoints) {
    @media screen and (max-width: map-get($breakpoint, $breakpoints)) {
        @content;
    }
}*/
/* Breakpoint para dispositivos móviles en orientación vertical */
@media (max-width: 568px) {
  /*----------------- PRIMERA PARTE HOME -----------------*/
  .links__home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .ciclo__virtuosoo {
    font-size: 0.7rem;
    border-radius: none;
  }
  .fuentes_renovable {
    font-size: 0.8rem;
    text-align: center;
  }
  /*----------------------- TERCERA PARTE HOME ----------------------*/
  .third__part__home {
    display: grid;
    justify-content: center;
  }
  .third__part__home section {
    height: 42rem;
    width: 24rem;
    text-align: center;
    margin-right: 25rem;
    margin-top: 6rem;
  }
  .third__part__home section p {
    font-size: 1.4rem;
  }
  /*---------------------- CUARTA PARTE HOME -------------------*/
  .quarter__part__home {
    height: 80vh;
  }
  .quarter__home {
    display: grid;
    width: 18rem;
    padding: 2rem 4rem 2rem 2rem;
    height: 35rem;
  }
  .quarter__home h4 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  .quarter__home h4 p {
    font-size: 1.5rem;
  }
}
/* Breakpoint para dispositivos móviles en orientación horizontal y tablets */
@media (min-width: 569px) and (max-width: 1100px) {
  /*--------------------------- PRIMERA PARTE HOME --------------------*/
  body {
    width: 100%;
  }
  .links__home {
    gap: 3rem;
  }
  /*---------------------------- TERCERA PARTE HOME -------------------*/
  .third__part__home {
    display: grid;
    justify-content: center;
    height: 190vh;
  }
  .third__part__home section {
    height: 52rem;
    padding: 0;
    margin: 0;
    width: 30rem;
    text-align: center;
    margin-right: 25rem;
    margin-top: 6rem;
    background-color: aqua;
  }
  .third__part__home section p {
    font-size: 2rem;
  }
  /*----------------- CUARTA PARTE HOME --------------------------*/
  .quarter__part__home {
    height: 100vh;
  }
  .quarter__part__home section {
    display: grid;
    width: 33rem;
  }
  .quarter__part__home section h4 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .quarter__part__home section h4 p {
    font-size: 2rem;
  }
}
/* Breakpoint para dispositivos de escritorio y laptops */
/* Breakpoint para dispositivos de escritorio y laptops con pantallas grandes */
.footer__page {
  font-family: "Inconsolata", monospace;
  background: linear-gradient(90deg, rgba(46, 185, 181, 0.7652310924) 72%, rgb(131, 58, 180) 100%, rgb(253, 35, 31) 100%, rgb(253, 39, 32) 100%, rgb(252, 176, 69) 100%, rgb(253, 213, 29) 100%);
  height: 133vh;
  font-size: 1.5rem;
}

footer {
  margin-top: 1.5rem;
}

textarea {
  resize: none;
}

button {
  margin-top: 30px;
  position: relative;
  padding: 10px 15px;
  border: none;
  outline: none;
  background: #350642;
  color: #dcc2e4;
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  font-family: "Inconsolata", monospace;
  border-radius: 5px;
}

button:hover {
  color: #fff;
}

button b {
  position: absolute;
  background: #fff;
  transition: 0.5s;
}

button b:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: -100%;
}

button b:nth-child(2) {
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -100%;
}

button b:nth-child(3) {
  width: 1px;
  height: 100%;
  bottom: -100%;
  left: 0;
}

button b:nth-child(4) {
  width: 1px;
  height: 100%;
  top: -100%;
  right: 0;
}

button:hover b:nth-child(1) {
  left: 0;
}

button:hover b:nth-child(2) {
  right: 0;
}

button:hover b:nth-child(3) {
  bottom: 0;
}

button:hover b:nth-child(4) {
  top: 0;
}

@media (max-width: 568px) {
  .footer__page {
    height: 90vh;
  }
  textarea {
    width: 17rem;
  }
}
@media (min-width: 569px) and (max-width: 1100px) {
  .footer__page {
    height: 110vh;
    font-size: 2rem;
  }
  textarea, input {
    width: 20rem;
  }
}
.bind {
  text-decoration: none;
  color: #F0F8FF;
  background-image: linear-gradient(white, white);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  margin-left: 2rem;
}

.bind:hover, a:focus {
  background-size: 100% 2px;
}

/*----------------- PRIMERA PARTE HOME --------------*/
.front__page__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/encabezado.jpg");
  height: 139vh;
  font-family: "Jost", sans-serif;
  background-size: cover;
}

.front__page__home a img {
  border-radius: 50px;
}

.front__page__home ul {
  list-style: none;
}

.front__page__home nav {
  padding: 1.5rem;
}

.ciclo__virtuosoo {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.ciclo__virtuosoo span {
  border: 3px outset #F0F8FF;
  border-radius: 50%;
  text-align: center;
}

/*------------------------ SEGUNDA PARTE HOME ----------------------*/
.second__part__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/eucalipto-globulus-ence-sld-1-1030x664.jpg");
  padding: 10rem 0 0 15rem;
  font-family: "Inconsolata" monospace;
  height: 92vh;
  line-height: 1.5rem;
}
.second__part__home section {
  background-color: rgba(94, 208, 138, 0.7);
  padding: 2rem;
  color: #dcc2e4;
  width: 38rem;
}
.second__part__home section p {
  font-size: 1.7rem;
  line-height: 2.2rem;
}
.second__part__home section p h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (max-width: 568px) {
  .second__part__home .second__part__home {
    height: 70vh;
    background-size: cover;
  }
  .second__part__home .second_home {
    transform: translate(-11rem);
    width: 22rem;
    height: 33rem;
  }
  .second__part__home .second_home h2 {
    text-align: center;
    font-size: 2.3rem;
  }
  .second__part__home .second_home h2 p {
    font-size: 1.4rem;
  }
}
@media (min-width: 569px) and (max-width: 1100px) {
  .second__part__home .second__part__home {
    height: 70vh;
    background-size: cover;
    display: grid;
    justify-content: center;
  }
  .second__part__home .second_home {
    transform: translate(-12rem);
    width: 30rem;
    height: 38rem;
  }
  .second__part__home .second_home h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .second__part__home .second_home h2 p {
    font-size: 2rem;
    margin-bottom: 5rem;
    text-align: center;
  }
}

/*--------------------- TERCERA PARTE HOME ---------------------*/
.third__part__home {
  background-image: url("../img/PLANTA.jpg");
  height: 110vh;
  background-size: cover;
  padding: 4rem 0 0 26rem;
}
.third__part__home section {
  background-color: rgba(89, 0, 141, 0.5);
  font-size: 1.5rem;
  padding: 4rem;
}
.third__part__home section h3 {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}
.third__part__home section h3 .material-symbols-outlined {
  margin-right: 2rem;
}

/*------------------- CUARTA PARTE HOME --------------------*/
.quarter__part__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/sustentables.jpg");
  height: 110vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 9rem 0 0 0;
  font-family: "Garamond";
  display: grid;
  justify-content: center;
}
.quarter__part__home section {
  padding: 4rem;
  height: 35rem;
}
.quarter__part__home section h4 {
  font-size: 3rem;
}
.quarter__part__home section p {
  font-size: 2rem;
}

.material-symbols-outlined {
  margin-right: 2rem;
}

/*-------------------- QUINTA PARTE HOME --------------------*/
.fifth__part__home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/COMUNIDADD.jpg");
  height: 95vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 0;
  font-family: "Garamond";
}
.fifth__part__home section {
  background-color: rgba(108, 0, 255, 0.6);
  clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 91% 30.5%, 80% 70%, 50% 100%, 20% 70%, 8.2% 33.5%, 10% 10%);
  padding: 4rem 0 0 0;
  text-align: center;
  transform: translate(28rem, 2rem);
  font-family: "Karla";
}
.fifth__part__home section h5 {
  margin-top: 2rem;
  font-size: 2.5rem;
}
.fifth__part__home section h5 p {
  font-size: 2rem;
}
@media (max-width: 568px) {
  .fifth__part__home .fifth__part__home {
    height: 150vh;
  }
  .fifth__part__home .fifth {
    padding-top: 3rem;
    transform: translate(4rem, 8rem);
    clip-path: none;
    width: 23rem;
    height: 38rem;
  }
  .fifth__part__home .fifth h5 {
    margin-bottom: 1rem;
  }
  .fifth__part__home .fifth p {
    font-size: 1.4rem;
  }
}
@media (min-width: 569px) and (max-width: 1100px) {
  .fifth__part__home .fifth__part__home {
    height: 150vh;
  }
  .fifth__part__home .fifth {
    padding: 2rem 2rem;
    transform: translate(4rem, 5rem);
    clip-path: none;
    width: 30rem;
    height: 52rem;
  }
  .fifth__part__home .fifth h5 {
    margin-bottom: 1rem;
    font-size: 3rem;
  }
  .fifth__part__home .fifth p {
    font-size: 2rem;
  }
}

/*---------------------- PRIMERA PARTE BIOMASA ----------------------*/
.front__page__biomasa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/portadaBiomasa.jpg");
  height: 100vh;
  background-size: cover;
  color: #F0F8FF;
  padding: 0;
  font-family: "Jost";
}
.front__page__biomasa .what__is__biomass {
  display: flex;
  align-items: baseline;
  justify-content: center;
}
.front__page__biomasa .what__is__biomass a {
  transform: translate(-40rem, 17rem);
}

.material-symbols-outlined {
  color: antiquewhite;
  animation: button 1s infinite;
  width: 3rem;
}

@keyframes button {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
/*---------------------- SEGUNDA PARTE BIOMASA --------------------*/
.second__part__biomasa {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  font-family: "Dosis";
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
}

.second__part__biomasa1 {
  background-color: rgba(0, 138, 8, 0.7);
  width: 18rem;
  height: 30rem;
  font-size: 18px;
  padding: 2rem;
  margin-left: 2rem;
}
.second__part__biomasa1 h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.second__part__biomasa2 {
  font-size: 20px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
}
.second__part__biomasa2 b {
  font-weight: bold;
  font-size: 2.5rem;
}

/*----------------------- TERCERA PARTE BIOMASA ---------------------*/
.third__part__biomasa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/APILADAS.jpg");
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 110vh;
  font-family: 0;
  align-items: 0;
  color: #F0FFF0;
  background-size: cover;
}

.images__biomasa {
  display: grid;
  grid-template-columns: repeat(6, 5rem);
  height: 0;
  font-family: "Dosis";
  align-items: start;
  align-content: center;
  justify-content: space-evenly;
  position: relative;
  left: 40rem;
  top: -20rem;
}
.images__biomasa span {
  line-height: 3rem;
}

.third__part__biomasa1 {
  background-color: rgba(255, 255, 255, 0.5);
  width: 28rem;
  height: 38rem;
  font-family: "Dosis";
  padding: 2rem 0 0 4rem;
  color: rgba(0, 0, 0, 0.76);
  margin: 3em 0 0 5em;
  font-size: 1.5rem;
}
.third__part__biomasa1 h3 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.formatos {
  font-size: 26px;
  width: 22rem;
  height: 10rem;
  padding: 2rem;
  background-color: rgba(0, 0, 92, 0.56);
  font-family: "Dosis";
  text-align: center;
  margin-top: 6rem;
  position: relative;
  left: 6rem;
}

/*-------------------- CUARTA PARTE BIOMASA --------------------------*/
.quarter__part__biomasa {
  display: flex;
  grid-template-columns: 0;
  height: 100vh;
  font-family: "Dosis";
  align-items: 0;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.3)), url("../img/ALAMCENAMIENTO.jpg");
  background-size: cover;
}
.quarter__part__biomasa section {
  background-color: rgba(255, 148, 54, 0.66);
  width: 28rem;
  height: 33rem;
  padding: 2rem 0 0 0;
  text-align: center;
  margin-top: 3rem;
}
.quarter__part__biomasa section h4 {
  font-size: 48px;
  margin-bottom: 1.5rem;
}
.quarter__part__biomasa section h4 p {
  font-size: 26px;
}

/*--------------------- PRIMERA PARTE PLANTA ------------------------*/
.front__page__planta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/LAPLANTA.jpg");
  height: 115vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.how__the__plant__works {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 8rem;
}
.how__the__plant__works a {
  transform: translate(-40rem, 2rem);
}

.data__planta {
  background-color: rgba(40, 0, 92, 0.56);
  font-size: 1.3rem;
  font-family: fantasy;
}

.data__planta1 {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  gap: 5rem;
  justify-content: center;
  color: #F0FFF0;
  padding: 2rem;
}

.data__planta2 {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  gap: 5rem;
  justify-content: center;
  padding-bottom: 1.4rem;
  font-weight: bold;
  color: #dcc2e4;
}

/*--------------------------- SEGUNDA PARTE PLANTA -------------*/
.second__part__planta {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Ubicacionplanta.jpg");
  height: 110vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
.second__part__planta section {
  display: grid;
  grid-template-columns: repeat(2, 22rem);
  height: none;
  font-family: 0;
  align-items: 0;
  justify-content: center;
  padding-top: 2rem;
}
.second__part__planta section div {
  padding: 2rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
}

/*--------------------- TERCERA PARTE PLANTA -----------------*/
.ciclos__produc {
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: repeat(3, 20rem);
  gap: 10rem;
  justify-content: center;
  font-family: "Cambria";
  flex-direction: 0;
  text-align: center;
}
.ciclos__produc img {
  border-radius: 10%;
}

.ciclo__produccion__planta {
  display: flex;
  grid-template-columns: 0;
  grid-template-rows: 0;
  gap: 0;
  justify-content: center;
  font-family: "Gill Sans";
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  padding: 4rem;
  background-color: rgba(0, 0, 255, 0.6);
  font-size: 2rem;
}

.orden {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10%;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
}

.text__ciclo {
  font-size: 1.2rem;
}

.titulo {
  color: #000;
  margin-bottom: 1rem;
}

/*---------------------- PRIMERA PARTE ENERGIA ---------------*/
.front__page__energia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ENERGIAportada.jpg");
  height: 110vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

.clean__energy {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 8rem;
}
.clean__energy a {
  transform: translate(-40rem, 20rem);
}

/*--------------------------- SEGUNDA PARTE ENERGIA ----------------*/
.second__part__energia {
  height: 115vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background: linear-gradient(90deg, rgba(46, 112, 185, 0.7652310924) 32%, rgb(30, 176, 187) 47%, rgb(131, 58, 180) 100%, rgb(253, 35, 31) 100%, rgb(253, 39, 32) 100%, rgb(252, 176, 69) 100%);
  display: flex;
}

.energia__limpia {
  display: flex;
  grid-template-columns: 0;
  grid-template-rows: 0;
  gap: 3rem;
  justify-content: 0;
  font-family: "Times New Roman";
  flex-direction: column;
  margin: 4rem 0 0 2rem;
}
.energia__limpia section {
  text-align: center;
}
.energia__limpia p {
  text-align: center;
  padding-top: 2rem;
  font-size: 1.2rem;
}

.titulo__second {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 6rem 6rem 0 6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/*--------------------........... TERCERA PARTE ENERGIA .............----------------*/
.third__part__energia {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/FOCO.jpg");
  height: 115vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 8rem;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
}

.third__part {
  background-color: rgba(200, 35, 31, 0.4);
  height: 36rem;
  padding: 5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}
.third__part h3 {
  font-size: 40px;
}
.third__part p {
  font-size: 34px;
}

/*-------------------- ------ PRIMERA PARTE COMUNIDAD ------------------*/
.front__page__comunidad {
  height: 110vh;
  background-size: cover;
  color: #F0FFF0;
  padding: 0;
  font-family: "Jost", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("../img/comunidad.jpg");
}

.community__engagement {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 8rem;
  text-align: center;
}
.community__engagement a {
  transform: translate(-40rem, 20rem);
}

.data__comunidad {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  grid-template-rows: 0;
  gap: 4rem;
  justify-content: center;
  font-family: fantasy;
  flex-direction: 0;
  text-align: center;
  padding: 2rem;
  background-color: rgba(46, 185, 181, 0.4);
}

/*----------------------------- SEGUNDA PARTE COMUNIDAD --------------------------------*/
.second__part__comunidad {
  display: flex;
  grid-template-columns: 0;
  grid-template-rows: 0;
  gap: 5rem;
  justify-content: 0;
  font-family: "Jost", sans-serif;
  flex-direction: 0;
  background: radial-gradient(circle, rgb(109, 85, 132) 23%, rgb(34, 62, 94) 100%);
  height: 110vh;
  background-size: cover;
  color: #F0F8FF;
}
.second__part__comunidad section {
  background: radial-gradient(circle, rgb(120, 102, 78) 30%, rgb(34, 62, 94) 100%);
  padding: 6rem 6rem 0 6rem;
  text-align: center;
}

.puntos__comunidad {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*# sourceMappingURL=estilo.css.map */
