/* Breakpoint para dispositivos móviles en orientación vertical */
@media (max-width: 568px) {
    
    /*----------------- PRIMERA PARTE HOME -----------------*/


    .links__home {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        
    }

    .ciclo__virtuosoo {
        font-size: .7rem;
        border-radius: none;

    }

        .fuentes_renovable {
            font-size: .8rem;
            text-align: center;
            
        }





/*----------------------- TERCERA PARTE HOME ----------------------*/

.third__part__home {
    display: grid;
    justify-content: center;


    section {
        height: 42rem;
        width: 24rem;
        text-align: center;
        margin-right: 25rem; 
        margin-top: 6rem;
        
    
        p {
            font-size: 1.4rem;
            
        }
    }
}

/*---------------------- CUARTA PARTE HOME -------------------*/

.quarter__part__home {
    height: 80vh;

    section {
        display: grid;
        width: 23rem;
        padding: 2rem 4rem 2rem 2rem;
        height: 35rem;


        h4 {
            margin-bottom: 1rem;
        }
    }
}








}






/* Breakpoint para dispositivos móviles en orientación horizontal y tablets */


@media (min-width: 569px) and (max-width: 1100px) {

/*--------------------------- PRIMERA PARTE HOME --------------------*/

body {
    width: 100%;
}


.links__home {
    gap: 3rem;
}


/*---------------------------- TERCERA PARTE HOME -------------------*/

.third__part__home {
    display: grid;
    justify-content: center;
    height: 190vh;

section {
        height: 52rem;
        padding: 0;
        margin: 0;
        
        width: 30rem;
        text-align: center;
        margin-right: 25rem; 
        margin-top: 6rem;
        background-color: aqua;

p {
            font-size: 2rem;
        }          
    }
}


/*----------------- CUARTA PARTE HOME --------------------------*/

.quarter__part__home {
    height: 100vh;

    section {
        display: grid;
        width: 33rem;
        
        h4 {
            margin-bottom: 1rem;
            font-size: 3rem;

            p {
                font-size: 2rem;
            }
        }
    }
}

















    
}

/* Breakpoint para dispositivos de escritorio y laptops */


@media (min-width: 1025px) and (max-width: 1440px) {

}

/* Breakpoint para dispositivos de escritorio y laptops con pantallas grandes */
@media (min-width: 1441px) {

}