.second__part__home section {
    width: $ancho-caja;
    height: $alto-caja / 1.6;
}

.third__part__home section {
    width: $ancho-caja - 10rem;
    height: $alto-caja - 12;
}

.quarter__part__home section {
    width: $ancho-caja - 15rem;
    height: $alto-caja - 17rem;
}

.fifth__part__home section {
    width: $ancho-caja - 8;
    height: $alto-caja - 2;
}

.second__part__biomasa1 {
    width: $ancho-caja - 32;
    height: $alto-caja - 10rem;
}

.second__part__biomasa2 {
    width: $ancho-caja - 28;
    height: $alto-caja - 7;
}