$bg-footer: linear-gradient(90deg, rgba(46,185,181,0.7652310924369747) 72%, rgba(131,58,180,1) 100%, rgba(253,35,31,1) 100%, rgba(253,39,32,1) 100%, rgba(252,176,69,1) 100%, rgba(253,213,29,1) 100%);
$font-footer: 'Inconsolata', monospace;
$bg-button-footer: #350642;

$bgimg-home: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/encabezado.jpg');
$font-encabezado-home: 'Jost', sans-serif;
$color-button: #F0F8FF;

$ancho-caja: 50rem;
$alto-caja: 40rem;
$color-repet: #F0FFF0;
$b-size: cover;
$font-dosis: 'Dosis';

$padding-top: 8rem;